*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --alpha: #ffe079;
  --beta: #3DA5D9;
  --gamma: #73BFB8;
  --epsilon: #eefcff;
  --zeta: #ffa4a9;
  --eta: #acacac;
  --theta: #636363;
  --background: #eefcff;
  --sidebar: white;

  --background: white;
  --sidebar: white;

  --background: #dff6ff;
  --alpha: #3F88C5;
  --task-container: white;
  --task-header: #ff7741;
  --tasks: #ff416a;
  --tasks: white;
  --dark: #393E41;
  --folders: #fff06b;
}

html {
  line-height: 1.5;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-weight: normal;
}

button,
input,
textarea,
select,
input:active,
textarea:active {
  outline: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  user-select: none;
  overflow: hidden;
  cursor: default;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 3px solid black;
  overflow: none;
  background-color: var(--sidebar);
  z-index: 0;
}

.header.buttons button {
  display: flex;
  gap: 8px;
}

.header.buttons,
.project-list button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(0);
  padding: 4px;
  margin: auto -4px;
  height: min-content;
  transition: background-color 0.3s;
}

.header.buttons:hover,
.project-list button:hover {
  background-color: rgb(223, 223, 223);
}

.project-list {
  display: flex;
  flex-grow: 1;
  gap: 12px;
  margin-left: 12px;
}

.project-list li {
  font-size: 0.9rem;
  text-decoration: u;
  position: relative;
  border: 2px solid black;
  padding: 2px 8px 0px 8px;
  margin: 4px 0px 4px 0px;
  height: 36px;
  background-color: var(--folders);
  box-shadow: black 2px 2px 0px 0px;
}

.project-list li.active-project {
  background-color: var(--background);
  height: 40px;
  border-bottom: 0;
  margin: 4px 0px 0px 0px;
}

.project-list li.active-project:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -7px;
  left: 0px;
  background-color: var(--background);
  z-index: 1;
}

.project-list li:hover {
  cursor: pointer;
}

.header.buttons .container-header {
  margin: 12px 48px;
  display: flex;
  align-items: last baseline;
  gap: 24px;
}

.project-title {
  font-size: 4em;
  font-weight: 800;
  min-width: max-content;
  margin: 0px 48px 0px;
}

.project-description {
  font-size: 1rem;
  font-weight: 400;
  max-width: 50vw;
  margin: 0px 48px 24px;
}

.container {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 48px;
  margin: 12px 48px;
}

.edit-table-modal {
  position: absolute;
  --task-module-left: 0;
  --task-module-top: 0;
  --task-module-width: 0;
  top: var(--task-module-top);
  left: var(--task-module-left);
  width: var(--task-module-width);
}

.new-task-modal,
.edit-table-modal {
  margin-top: 12px;
  background-color: var(--task-container);
  border: 3px solid black;
  padding: 8px 0px 12px 8px;
  box-shadow: black 6px 6px 0px 0px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  width: 100%;
  visibility: hidden;
}

.new-task-modal>input {
  z-index: 2;
}

.new-task-modal>button {
  flex-shrink: 0;
  margin-right: 4px;
  z-index: 2;
}

.edit-table-modal {
  flex-direction: column;
  width: min-content;
  justify-content: center;
  align-items: center;
  padding: 4px;
  z-index: 2;
}

.edit-table-modal::before {
  content: "";
  height: 100%;
  width: 5px;
  background-color: white;
  position: absolute;
  right: 32px;
}

.new-task-modal input[type=text] {
  border: 3px solid black;
  box-shadow: black 4px 4px 0px 0px;
  padding: 8px;
  width: 100%;
  flex-shrink: 1;
}

.task-container {
  width: 100%;
  background-color: var(--task-container);
  border: 3px solid black;
  box-shadow: black 6px 6px 0px 0px;
  height: min-content;
  padding: 8px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.table:not(.table-buttons) {
  position: relative;
  max-height: max-content;
  pointer-events: none;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 3px solid black;
  border-bottom: none;
  box-shadow: black 6px 6px 0px 0px;
  background-color: var(--task-header);
  padding: 0px 8px;
  border-radius: 12px 12px 0px 0px;
}

.table-header>h2 {
  font-size: 1.8rem;
}

.task {
  position: relative;
  font-size: 1.2rem;
  padding: 2px 6px;
  border: 3px solid black;
  box-shadow: black 4px 4px 0px 0px;
  height: 46px;
  background-color: var(--tasks);
}

.task,
.table:not(#placeholder) {
  pointer-events: auto;
}

.table>.task-container {
  pointer-events: none;
}

.table>.task-container>.task {
  pointer-events: auto;
}

.todo-footer {
  margin-top: 6px;
  margin-bottom: -2px;
  border-top: 2px dashed black;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.todo-footer>button,
.folder-header>div>button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  margin-left: 6px;
  border: 3px solid black;
  box-shadow: black 2px 2px 0px 0px;
  border-radius: 100%;
  font-size: 1.8rem;
}

.folder-header>div>button {
  height: 30px;
  width: 30px;
  box-shadow: black 1px 1px 0px 0px;
}

.folder-header>div>button:hover,
.todo-footer>button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.todo-footer .settings {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drag-icon {
  position: absolute;
  left: 50%;
  opacity: 20%;
  transition: opacity 0.3s;
}

.drag-icon:hover {
  opacity: 100%;
  cursor: grab;
}

.trash {
  position: absolute;
  left: 48px;
  bottom: 48px;
  opacity: 25%;
  display: none;
}

.table-plus {
  display: flex;
  align-items: last baseline;
  position: absolute;
  left: 48px;
  bottom: 48px;
  opacity: 25%;
  z-index: 1;
}

.table-plus span {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1em;
  opacity: 0%;
  transition: opacity 0.3s;
}

.table-plus:hover {
  cursor: pointer;
  opacity: 100%;

  >span {
    opacity: 100%;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
}

#dragging {

  &>.table-header>.drag-icon,
  &>.task-header>.drag-icon {
    opacity: 100%;
  }
}

#placeholder .drag-icon {
  opacity: 0%;
}

.task-header>.drag-icon {
  transform: translate(-50%, 20%);
}

.table-header>.drag-icon {
  transform: translate(-50%, -140%);
}

#newtask {
  width: 100%;
  border: 3px solid black;
  height: 46px;
  box-shadow: black 2px 2px 0px 0px inset;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0px 8px;
}

.footer-toggle>.todo-footer {
  display: none;
}

.color-input-container {
  position: relative;
  display: flex;
}

.color-input-container:hover {
  cursor: pointer;
}

.color-icon {
  position: absolute;
  left: 1px;
  top: 1px;
  pointer-events: none;
}

.table-text-input,
.table-text-input:active {
  box-sizing: border-box;
  position: absolute;
  font-size: 1.8rem;
  background-color: white;
  width: calc(100% - 23px);
  box-shadow: black 0px 0px 0px 3px;
}


.table-buttons {
  position: relative;
  display: flex;
  gap: 8px;
}

.table-buttons>button,
.table-buttons>div {
  opacity: 0%;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.table-header:hover {

  .table-buttons button,
  .table-buttons div {
    opacity: 50%;
    cursor: pointer;
  }


  .table-buttons button:hover,
  .table-buttons div:hover {
    opacity: 100%;
  }
}

input[type="color"] {
  height: 26px;
  width: 26px;
  border-radius: 100%;
  flex-shrink: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="date"]::-webkit-datetime-edit {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(./icons/calendar.svg) center no-repeat;
}

input[type="color"]::-webkit-color-swatch:hover,
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

#dragging {
  --mouse-x: ;
  --mouse-y: ;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
  box-shadow: none;
  pointer-events: none;
  z-index: 2;
}

#dragging> {
  pointer-events: none;
}

#placeholder:not(.table) {
  color: transparent;
  pointer-events: none;
  box-shadow: black 2px 2px 0px 0px inset;
  background-color: rgba(0, 0, 0, 0.15);
}

#placeholder:not(.task)>.task-container {
  pointer-events: none;
  box-shadow: black 2px 2px 0px 0px inset;
  background-color: rgba(0, 0, 0, 0.15);

  .task {
    color: transparent;
    mix-blend-mode: darken;
  }
}

#placeholder:not(.task) .table-buttons {
  opacity: 0%;
}

#placeholder .table-header {
  pointer-events: none;
  box-shadow: black 2px 2px 0px 0px inset;
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: transparent;
}

#placeholder {
  pointer-events: none;
}

#placeholder * {
  pointer-events: none;
}