*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --alpha: #2364AA;
  --beta: #3DA5D9;
  --gamma: #73BFB8;
  --epsilon: #FEC601;
  --zeta: #EA7317;
  --eta: #acacac;
  --theta: #636363;
}

html {
  line-height: 1.5;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-weight: normal;
}

button,
input,
textarea,
select,
input:active,
textarea:active {
  outline: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flexbox;
  flex-direction: column;
  background-color: rgb(255, 249, 233);
  user-select: none;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.sidebar-header {
  margin: 12px, 0px;
}

.sidebar-buttons button {
  display: flex;
  color: var(--gray);
  margin-bottom: 12px;
  margin-top: 12px;
  gap: 12px;
}

.sidebar-buttons,
.project-list,
.sidebar>h2 {
  border-bottom: 1px solid var(--gray);
}

.project-list {
  display: flex;
}

.project-list li {
  position: relative;
  font-size: 1rem;
  margin-right: 24px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0px 12px;
  height: 50px;
  background-color: rgb(255, 249, 233);
}

/* .project-list li>span {
  position: absolute;
  content: "";
  background-color: rgb(255, 249, 233);
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 30px;
  height: 15px;
  left: 0px;
  z-index: 1;
  box-shadow: black 3px 1px 0px -1px;
} */

/* .project-list li::before {
  position: absolute;
  content: "";
  background-color: rgb(255, 249, 233);
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 26%;
  height: 15px;
  right: 75%;
  z-index: 1;
  box-shadow: black 3px 1px 0px -1px;
} */


/* .project-list li::after {
  position: absolute;
  content: "";
  background-color: rgb(224, 220, 205);
  border: 1px solid black;
  width: 50%;
  height: 15%;
  top: -15%;
  left: calc(30px - 2px);
  z-index: 2;
  box-shadow: black 3px 1px 0px -1px;
} */

.project-list li:hover {
  cursor: pointer;
}

.sidebar {
  display: flex;
  justify-content: left;
  align-items: end;
  background-color: var(--off-white);
  height: min-content;
  margin-bottom: 48px;
  border-bottom: 3px solid black;
  overflow: auto;
}

.sidebar h2 {
  font-size: 1rem;
}

.sidebar h3 {
  font-size: 1.2rem;
}

.sidebar-add-task {
  border-radius: 5px;
  padding: 3px 0px;
  width: 100%;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 96px;
}

.folder-container {
  width: 20%;
  min-height: 500px;
  height: min-content;
}

.folder {
  width: 100%;
  background-color: rgb(213, 235, 255);
  border: 3px solid black;
  box-shadow: black 6px 6px 0px 0px;
  height: min-content;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
}

.folder-container>h1 {
  font-size: 1.8rem;
  border: 3px solid black;
  border-bottom: none;
  box-shadow: black 6px 6px 0px 0px;
  background-color: rgb(255, 189, 192);
  padding: 0px 4px;
  margin-top: 24px;
  padding-left: 10px;
  border-radius: 15px 15px 0px 0px;
}

.todo-container {
  margin-bottom: 8px;
}

.folder {
  padding-bottom: 10px;
}

.todo-box {
  font-size: 1.2rem;
  padding: 2px 6px;
  border: 3px solid black;
  box-shadow: black 4px 4px 0px 0px;
  background-color: rgb(213, 235, 255);
}

.todo-box:not(#dragging):hover {
  cursor: grab;
  background-color: var(--lightest-gray);
}

.todo-add-button>h2 {
  font-size: 2rem;
}

.todo-add-button>button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 3px solid black;
  box-shadow: black 2px 2px 0px 0px;
  background-color: rgb(218, 240, 255);
  border-radius: 100%;
  margin: 2px auto;
}

.being-dragged {
  pointer-events: none;
  display: none;
}

#dragging {
  --mouse-x: ;
  --mouse-y: ;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
  box-shadow: none;
}


#folder-cloned-element {
  color: transparent;
  pointer-events: none;
}

#inset {
  box-shadow: black 2px 2px 0px 0px inset;
  background-color: rgba(0, 0, 0, 0.15);
}